
<!doctype html>
{% load static %}
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">

    <link rel="stylesheet" type="text/css" href="{% static 'myapp/index.css' %}">
    <script type="text/javascript" src="{% static 'myapp/index.js' %}"></script>
    <title>Home Automation</title>
  </head>
  <body>

<div class="container" style="position:relative;background-color:#eef6f4;">
<!--    <h2 style="color:white;margin-top:10px;text-shadow:2px 2px 5px orange,1px 1px 5px blue;">Home Automation</h2>-->
    <h2 style="margin-top:10px;">Home Automation</h2>
    <hr>

   <div class="container detail_shower_div">
      <span style="margin-right:10px;">Time:  <span id="show_time"></span> </span>
       <span style="margin-right:10px;">Temperature: 98 F </span>
       <span style="margin-right:10px;"> Humidity: 10% </span>
   </div>

<div class="container-fluid">
<!--    <p>Time now is : <span id="show_time"></span></p>-->




    <div class="row">
    {% for i in pin %}
             <div class="col-lg-5 col-sm-11 switch_box">
                 <div class="row">
                     <div class="col-9">
                         <h4 style="color:SlateBlue;">{{i.pin_name}}</h4>

                     </div>
                     <div class="col-3">

                         <div class="switch_on" onclick="change_state({{i.id}},{{i.pin_no}},1,1)">
                        <svg width="3em" height="2em" viewBox="0 0 16 16" class="bi bi-toggle2-on" fill="blue" xmlns="http://www.w3.org/2000/svg">
                          <path d="M7 5H3a3 3 0 0 0 0 6h4a4.995 4.995 0 0 1-.584-1H3a2 2 0 1 1 0-4h3.416c.156-.357.352-.692.584-1z"/>
                          <path d="M16 8A5 5 0 1 1 6 8a5 5 0 0 1 10 0z"/>
                        </svg>
                        </div>

                        <div class="switch_off" onclick="change_state({{i.id}},{{i.pin_no}},0,1)">
                        <svg width="3em" height="2em" viewBox="0 0 16 16" class="bi bi-toggle2-off" fill="grey" xmlns="http://www.w3.org/2000/svg">
                          <path d="M9 11c.628-.836 1-1.874 1-3a4.978 4.978 0 0 0-1-3h4a3 3 0 1 1 0 6H9z"/>
                          <path fill-rule="evenodd" d="M5 12a4 4 0 1 0 0-8 4 4 0 0 0 0 8zm0 1A5 5 0 1 0 5 3a5 5 0 0 0 0 10z"/>
                        </svg>
                        </div>

                         {% if i.state %}
                            <script>show_switch_on({{i.id}});</script>
                         {% else %}
                            <script>show_switch_off({{i.id}});</script>
                        {% endif %}

                     </div>
                 </div>

                 <br>
                 <h6>Scheduled on/off</h6>
                 <hr style="margin-top:1px;margin-bottom:1px;">

                 <div class="schedule_on">
                     <p class="interrupt_alerter" style="margin-bottom:1px;display:none;"><span style="color:red;">Schedule interrupted!</span>
                         <span onclick="interrupt_handler({{i.pin_no}},{{i.id}})" style="color:blue;cursor:pointer;">click here to resume</span>
                     </p>

                     <p style="color:green;margin-bottom:5px;margin-top:5px;">Scheduled from <span class="sh_s">{{i.start_hr}}</span>:<span class="sm_s">{{i.start_min}}</span> </p>
                     <p style="color:green;margin-bottom:10px;margin-top:0px;">Scheduled till <span class="eh_s">{{i.end_hr}}</span>:<span class="em_s">{{i.end_min}}</span>  </p>
                    <button type="button" class="btn" style="background-color:hsl(220, 100%, 67%);color:white;margin-right:15px;" onclick="display_sti({{i.id}})">Update</button>

                    <button type="button" class="btn" onclick="remove_schedule_time({{i.id}},{{i.pin_no}})" style="background-color:hsl(2, 100%, 67%);color:white;" >Remove</button>

                 </div>

                 <div class="schedule_off">
                     <button type="button" class="btn" style="background-color:hsl(151, 100%, 67%);margin-top:10px;" onclick="display_sti({{i.id}})">Set Schedule</button>
                 </div>

                 {% if i.schedule_status %}
                    <script>show_schedule_on({{i.id}});</script>
                 {% else %}
                    <script>show_schedule_off({{i.id}});</script>
                 {% endif %}

                 <div class="schedule_time_input">

                    <p style="margin-top:10px;margin-bottom:10px;color:red;">*Use 24-hour format</p>
                    <h6 style="margin-top:0px;">Set start time</h6>

                    <input type="number" name="sh" class="sh" min="0" max="23" value="{{i.start_hr}}">&nbsp;Hr&nbsp;&nbsp;
                    <input type="number" name="sm" class="sm" min="0" max="59" value="{{i.start_min}}">&nbsp;Min
                    <br>
                    <h6 style="margin-top:10px;">Set finish time</h6>
                    <input type="number" name="eh" class="eh" min="0" max="23" value="{{i.end_hr}}">&nbsp;Hr&nbsp;&nbsp;
                    <input type="number" name="em" class="em" min="0" max="59" value="{{i.end_min}}">&nbsp;Min
                    <br><br>

                    <button  class="btn" onclick="set_schedule_time({{i.pin_no}},{{i.id}})" style="background-color:hsl(116, 74%, 52%);color:white;padding-left:45px;padding-right:45px;"> Set </button>

                </div>

            </div>

    {% endfor %}
    </div>

</div>


</div>

<script>
check_state();
</script>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
  </body>
</html>