* {
    box-sizing: border-box;
 }



.detail_shower_div{
    padding:20px;
    margin-top:10px;
    margin-bottom:10px;
    font-size:24px;
    margin-left:0px;
    color:white;
   /* background-color: #e5ffff;*/
   background-color: #ff6666;
   border-radius:10px;
   /*max-width:88%;*/

   /*border-left-width:3px;
    border-left-style:solid;
    border-left-color:red;*/

}



.switch_box{
    background-color: white;
    border-radius: 5px;
    /*box-shadow: 1px 1px 3px Orange;*/
   /* background-color:	#e5ffff;*/
    margin-bottom: 15px;
    margin-top: 15px;
    margin-right:auto;
    margin-left:auto;
    padding: 20px;
    border-left-width:3px;
    border-left-style:solid;
    border-left-color:green;


}

input{
    width: 50px;
    height:25px;
    border-width: 1px;
    border-style: solid;
    border-color: green;
    border-radius: 5px;
    outline:none;
    padding:5px;
}

.schedule_time_input{
    display:none;
    margin-left:auto;
    margin-right:auto;
}
body{
    /*background-color: hsl(0, 100%, 75%);*/
    padding:0px;
    background-color:#eef6f4;
}



.switch_off{
    display:none;
    cursor:pointer;
}

.switch_on{
    display:none;
    cursor:pointer;
}

.schedule_on{
    display:none;
}
.schedule_off{
    display:none;
}

