* {
    box-sizing: border-box;
 }
#username{
    padding :5px 10px;
    margin-left:10px;
    color:white;
    font-size:12px;
    font-weight:bold;
    background-color:green;
    border-radius:25px;
}
#hardware_connection{
    padding :5px 10px;
    color:white;
    font-size:12px;
    font-weight:bold;
    background-color:red;
    border-radius:25px;
}

.detail_shower_div{
    max-width:690px;
    padding:10px 20px;
    margin-top:10px;
    margin-bottom:5px;
    font-size:24px;
    margin-left:0px;
    /*color:white;*/
    background-color: #e5ffff;
   /*background-color: #ff6666;*/
   border-radius:5px;
   /*max-width:88%;*/

   /*border-left-width:3px;
    border-left-style:solid;
    border-left-color:red;*/

}



.switch_box{
    /*max-width:800px;*/
    background-color: white;
    border-radius: 5px;
    /*box-shadow: 1px 1px 3px Orange;*/
   /* background-color:	#e5ffff;*/
    margin-bottom: 15px;
    margin-top: 15px;
    margin-right:auto;
    margin-left:auto;
    padding: 20px;
    border-left-width:4px;
    border-left-style:solid;
    border-left-color:green;


}
@media only screen and (min-width: 1000px) {
  .switch_box:nth-child(odd) {
      margin-left:0px;
    }

    .switch_box:nth-child(even) {
      margin-right:0px;
    }
}


.pin_name_input{
    border-width: 0px;
    border-style: none;
    border-color: white;

    border-bottom-width:2px;
    border-bottom-color:SlateBlue;
    border-bottom-style:solid;
    border-radius:0px;
    width:150px;
    display:none;
}
.edit_pin_name{
    cursor:pointer;
}
.submit_pin_name{
    cursor:pointer;
    display:none;
}

.gac_notifier{
    padding:4px 10px;
    color:white;
    background-color: #0088cc;
    border-top-right-radius:25px;
    border-bottom-right-radius:25px;
    font-size:12px;
    font-weight:bold;
}
/*
input{
    width: 50px;
    height:25px;
    border-width: 1px;
    border-style: solid;
    border-color: green;
    border-radius: 5px;
    outline:none;
    padding:5px;
}
*/
.schedule_time_input{
    display:none;
    margin-left:auto;
    margin-right:auto;
}
body{
    /*background-color: hsl(0, 100%, 75%);*/
    padding:0px;
    background-color:#eef6f4;
}



.switch_off{
    display:none;
    cursor:pointer;
}

.switch_on{
    display:none;
    cursor:pointer;
}

.schedule_on{
    display:none;
}
.schedule_off{
    display:none;
}

#login_div{
margin-top:20px;
padding:15px;
border-radius:5px;
background-color:white;
}

.temp_mode_div{
    display:none;
}
.normal_mode_div{
    display:none;
}
